.confirmation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(254,235,130,255);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.confirmation > p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    height: 35px;
    cursor: pointer;
}

/**** Large devices ***/
@media (min-width: 1200px) {
}

/**** Medium devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {
}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    .confirmation > p {
        font-size: 1.3em;
    }
    .icon {
        height: 30px;
    }
}

/**** Extra small devices devices ***/
@media (min-width: 500px) and (max-width: 767.99px) {
    .confirmation > p {
        font-size: 1.1em;
    }
    .icon {
        height: 25px;
    }
}

/**** Extra extra small devices devices ***/
@media (max-width: 499.99px) {
    .confirmation > p {
        font-size: 1em;
    }
}