@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.wrapper {
    background-color: black;
    padding: 5rem 2rem;
}

.info {
    border-left: 1px solid rgba(254,235,130,255);
}

.info h3 {
    
    padding-left: 1rem;
    font-family: 'Cinzel', sans-serif;
    font-size: 3em;
    color: rgba(254,235,130,255);
}

.info p {
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: white;
    width: 80%;
}

img {
    width: 100%;
}

/**** Large devices ***/
@media (min-width: 1200px) {
}

/**** Medium devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {
    .info p {
        width: 100%;
    }
}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    .info h3 {
        font-size: 2.5em;
    }

    .info p {
        font-size: 1em;
        width: 100%;
    }
}

/**** Extra small devices devices ***/
@media (min-width: 500px) and (max-width: 767.99px) {
    .info h3 {
        padding-top: 2rem;
        padding-left: 0;
        font-size: 1.8em;
    }

    .info p {
        font-size: 1em;
        padding-left: 0;
        width: 100%;
    }

    .info {
        border-left: 0;
    }
}

/**** Extra extra small devices devices ***/
@media (max-width: 500px) {
    .info h3 {
        padding-top: 2rem;
        font-size: 1.4em;
        padding-left: 0;
    }

    .info p {
        font-size: .8em;
        padding-left: 0;
        width: 100%;
    } 
    
    .info {
        border-left: 0;
    }
}