@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.banner-container {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: black;
}
.navbar {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 11;
    background: none;
    padding: 2rem 5rem;
}

.navbar-brand {
    justify-content: start;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    color: white;
    padding: 1rem 2rem;
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand h1 {
    font-size: 2em;
    margin-bottom: -15px;
}

.navbar-brand span {
    font-size: .82em;
}

.navbar-links {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar-links a, .sidebar-links a{
   margin: 0 1rem;
   cursor: pointer; 
   text-decoration: none;
   color: white;
   font-size: 1.4em;
   transition: 1s ease;
}

.navbar-link:Hover {
    color: rgba(254,235,130,255);
}

.navbar-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
}

.navbar-contact a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    
}

#book {
    border: .5px solid rgba(254,235,130,255)
}

.navbar-contact a:Hover  {
    color: rgba(254,235,130,255);
    border-bottom: 1px solid rgba(254,235,130,255);
}

.navbar-expand-icon {
    display: none;
    cursor: pointer;
}

#sidebar {
    width: 30%;
}

#sidebar-body {
    background: black;
    position: relative;
    box-shadow: 0 0 0 .5px rgba(254,235,130,255);
}

.sidebar-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: rgba(254,235,130,255);
}

.sidebar-links {
    position: absolute;
    left: 0;
    top: 60px;
    flex-direction: column;
    list-style: none;
}

.sidebar-links a{
    padding-top: 15px;
    padding-bottom: 15px;
}

.carousel {
    position: relative;
}

.carousel img {
    filter: blur(2px);
}

.sub-header {
    position: absolute;
    z-index: 1;
    color: white;
    top: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    list-style: none;  
}

.sub-header h2 {
    color: white;
    font-size: 3em;
    font-family: 'Cinzel', sans-serif;
}

.sub-header span {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid-button {
   width: 200px;
   height: 50px;
   margin-top: 25px;
   border: 1px solid rgba(254,235,130,255);
   font-size: 2em;
   text-decoration: none;
   color: white;
   font-family: 'Montserrat', sans-serif;
}

.container-fluid-button:Hover {
    color: rgba(254,235,130,255);
}

/**** Large devices ***/
@media (min-width: 1200px) {
}

/**** Medium devices and Large devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {
}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    .navbar-brand {
        padding: 1rem;
    }
    .navbar-brand > img{
        display: none;
    }
    .navbar-brand h1 {
        font-size: 31px;
    }
    .navbar-brand span {
        font-size: 64%;
    }
    .navbar-contact {
        font-size: 90%;
        padding: 1rem;
    }
    .navbar-links {
        display: none
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-expand-icon {
        display: flex;
    }
    .sub-header h2 {
        font-size: 2.5em;
    }
    .sub-header span {
        font-size: 1.1em;
    }
    .container-fluid-button {
        font-size: 1.5em;
        width: 150px;
        height: 40px;
    }
}

/**** Extra small devices devices ***/
@media (min-width: 500px) and (max-width: 767.99px) {
    .navbar-brand {
        padding: 1rem;
    }
    .navbar-brand img{
        display: none;
    }
    .navbar-brand h1 {
        font-size: 31px;
    }
    .navbar-brand span {
        font-size: 64%;
    }
    .navbar-contact {
        font-size: 80%;
        padding: 1rem;
    }
    .navbar-links {
        display: none
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-expand-icon {
        display: flex;
    }
    .sub-header h2 {
        font-size: 1.8em;
    }
    .sub-header span {
        font-size: .8em;
    }
    .container-fluid-button {
        margin-top: 15px;
        font-size: 1em;
        width: 100px;
        height: 30px;
    }
}

/**** Extra extra small devices devices ***/
@media (max-width: 499.99px) {
    .navbar-brand {
        padding: 0;
    }
    .navbar-brand img{
        display: none;
    }
    .navbar-brand h1 {
        font-size: 31px;
    }
    .navbar-brand span {
        font-size: 64%;
    }
    .navbar-contact {
        font-size: 80%;
        padding: 0;
    }
    .navbar-links {
        display: none
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-expand-icon {
        display: flex;
    }
    .sub-header h2 {
        font-size: 1.4em;
    }
    .sub-header span {
        font-size: .8em;
    }
    .container-fluid-button {
        margin-top: 10px;
        font-size: .9em;
        width: 90px;
        height: 25px;
    }
}









