.container-fluid {
    background: url('../Assets/background_2.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    
}

.footer-links-list {
    display: flex;
    justify-content: start;
    font-size: 1.3em;
    margin: 0;
}

.footer-links-list ul{
    list-style: none;
    line-height: 2rem;
}

.footer-links-list a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.address {
    display: flex;
    justify-content: end;
    color: white;
    font-size: 1.3em;
    padding-top: 1rem;
    padding-right: 2rem;
    line-height: 1rem;
    margin: 0;
}

.copyright {
    color: white;
    font-size: 1.2em;
}

/**** Large devices ***/
@media (min-width: 1200px) {
}

/**** Medium devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {

}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    .address, .footer-links-list {
        font-size: 1.2em;
    }

    .copyright {
        color: white;
        font-size: 1em;
    }

}

/**** Extra small devices devices ***/
@media (min-width: 500px) and (max-width: 767.99px) {
    .footer-links-list {
        font-size: 1em;
    }
    .address {
        display: none;
    }
    .copyright {
        color: white;
        font-size: .7em;
    }
}

/**** Extra extra small devices devices ***/
@media (max-width: 499.99px) {
    .footer-links-list {
        font-size: 1em;
    }
    .address {
        display: none;
    }
    .copyright {
        color: white;
        font-size: .7em;
    }
}