.book-wrapper {
    padding: 2rem 1rem;
    background: url('../Assets/background_3.jpg');
    background-size: cover;
}

.calendar {
    background-color: rgba(254,235,130,255);
    opacity: .7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;

}
.date {
    padding: 2rem;
    padding-top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.service {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    padding-top: 0;
}

.date-time {
    padding: 2rem 1rem;
}

.time {
    padding: 1rem 2rem;
}

.services-book {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: start;
    align-items: flex-start;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-size: 1.4em;
}

.clickable-time {
    padding: 0 1rem;
    border: 1px solid rgba(254,235,130,255);
    cursor: pointer;
    background-color: black;
    color: white;
    width: 120px;
}

.clickable {
    padding: 0 1rem;
    border: 1px solid rgba(254,235,130,255);
    cursor: pointer;
    background-color: black;
    color: white;
}

.credentials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
}

input {
    font-family:  'Montserrat', sans-serif !important;
    width: 30%;
    height: 50px;
    font-size: 1.4em !important;
    color: white;
    background-color: black;
    border: 0;
    border-bottom: 1px solid rgba(254,235,130,255);
    
}

.appointment {
    margin-top: 2rem;
    font-family:  'Montserrat', sans-serif;
    background: none;
    color: white;
    border: 1px solid rgba(254,235,130,255);
    font-size: 1.4em;
}

.appointment:hover {
    color: rgba(254,235,130,255);
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/**** Large devices ***/
@media (min-width: 1200px) {
}

/**** Medium devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {
}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    .services-book {
        font-size: 1.3em;
    }
    .calendar {
        font-size: 1.3em;
    }
    input {
        font-size: 1.3em !important;
        width: 40%;
    }
    .appointment {
        font-size: 1.3em;
    }
}

/**** Extra small devices devices ***/
@media (min-width: 500px) and (max-width: 767.99px) {
    .services-book {
        font-size: 1.2em;
    }
    .calendar {
        font-size: 1.2em;
    }
    input {
        font-size: 1.2em !important;
        width: 50%;
    }
    .appointment {
        font-size: 1.2em;
    }
    .clickable-time { 
        width: 110px;
    }
}

/**** Extra extra small devices devices ***/
@media (max-width: 499.99px) {
    .services-book {
        font-size: 1.1em;
    }
    .calendar {
        font-size: 1.1em;
    }
    input {
        font-size: 1.1em !important;
        width: 60%;
    }
    .appointment {
        font-size: 1.1em;
    }
    .clickable-time { 
        width: 100px;
    }
}


